/******************************************** for common components ********************************************/
/* body */
#mainBodyStyle {
    margin:0;
    padding:0;
    border: 0;
    width: 100%;
    height: 100%;
    font-family:'Candara';
}

/* navigation bar */
#mainNav {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 2px 0;
    width: 100%;
    height: 85px;
	text-align:center;
	background-color:white;
	border-bottom:3px solid;
}
#navCon {
	margin:0 auto auto auto;
}
#logoLabel{
	float:left;
    padding: 0;
    margin: 0 0 0 10%;
    text-decoration: none;
    cursor: pointer;
}
#logoLabel img {
	height:85px;
}
#searchText {
	float:left;
	margin:24px 20px 0 50px ;
	height:30px;
	font-size:18px;
}
#searchButton {
	float:left;
	width:100px;
	height:40px;
	margin-top:20px;
	font-size:20px;
	font-weight:bold;
	color:white;
	background-color:#00a368;
	border-radius:10px;	
	cursor: pointer;
}
#categoryButton {
	float: left;
	width:110px;
	height:30px;
	margin:14px 0 0 30px;
	padding:10px;
	font-size:26px;
	font-weight:bold;
	color:white;
	background-color:#ffc34d;
	border-radius:30px;
	cursor: pointer;
    text-decoration: none;
    cursor: pointer;
	box-shadow: 2px 2px 1px #888888;
}
#categoryButton:hover {
   background: #FAFF69;
   text-decoration: none;
}
}
/* footer */
#conFooter {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 15px;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    font-weight: 400;
    color: white;
    background-color: black;
}
#conAboutus {
    margin: 0 10px 0 0 ;
    padding: 0 0 0 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-style: initial;
    text-decoration: none;
}
#conFooter p{
    padding: 1px 0 0 0;
}

/******************************************** components of each pages ********************************************/

/* search conditional panel (hiding) */
#searchPanel {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    background-color: black;
    z-index: 1;
    opacity:0.9;
}
#closeButton img {
    float: left;
    margin: 20px 0 0 50px;
    width: 50px;
    cursor: pointer;
}
#searchConditionalTable {
    margin: auto;
    padding-top: 30px;
    width: 600px;
    font-size: 25px;
}
#searchConditionalTable td {
    width: 25%;
    color: white;
}
#searchConditionalTable div {
    padding-top: 15px;
    color: #97A7A7;
}
#searchConditionalTable input {
    margin: 10px 0 30px 0;
}

/**** content (food detail) ****/
/*content header*/
#foodContent {
    width:80%;
    margin: auto;
    margin-top: 110px;
}

#foodTitle {
	width:20%;
	text-align:center;
    font-size: 30px;
    font-weight:bold;
    color:white;
	border-radius:5px;
}
#conHeader {
	width:40%;
    font-size: 30px;
	font-weight:bold;
	text-align:center;
	color:white;
	border-radius:5px;
}

/*short summary table*/

#conResultTable {
	margin:10px auto 20px auto;
    width: 60%;
    font-size: 26px;
	border-collapse: collapse;
	border-radius:10px;
}
#conResultTable td {
    text-align: left;
    padding-left: 10px;
	border-bottom: 2px solid;
    
}
#conResultTable tr:nth-child(even) {
	background-color:white;
}

/*Preservation methods*/
#methodTable {
    margin: auto;
	padding:15px 0 15px 0;
    width: 80%;
	height:80%;
    margin-top: 20px;
	border:2px solid;
	border-radius:10px;
    
}
#methodTable tr {
	height:30%;
}
#methodTable ul {
	margin:10px 0 0 0;
}
#methodTable li {
	list-style:decimal;
	line-height:30px;
}
#methodTable .tdleft {
	width:50%;
	text-align:center;
}
#methodTable img {
    width: 80%;
    height: 160px;
}
#methodTable .tdright {
	padding:0;
	vertical-align:top;
}
#methodTable .methodCon {
	width:80%;
	font-size:22px;
	padding-left:10px;
}
.methodHeader {
	width:56%;
	padding:0 10px 0 10px;
	font-size: 24px;
    color: white;  
	border-radius:5px;
}
/*Setting color according to Food category*/
/**color_set - food name & Method header, 
tdcolor_set - background color of the summary table,
letter_color - letter color of the summary table,
border_color - border color of nav bar **/
#color_con_vegi .color_set{
	background-color: #00a368;
}
#color_con_vegi .tdcolor_set{
	background-color: #ABE1C7;
}
#color_con_vegi .letter_color {
	color:#339966;
}
#color_con_vegi .border_color {
	color:#339966;
}
#color_con_meat .color_set{
    background-color: #e3493b;
}
#color_con_meat .tdcolor_set{
    background-color: #ffe6e6;
}
#color_con_meat .letter_color {
	color:#cc0000;
}
#color_con_meat .border_color {
	color:#e3493b;
}
#color_con_daily .color_set{
    background-color: #6599ff;
} 
#color_con_daily .tdcolor_set{
    background-color: #e0eaff;
}
#color_con_daily .letter_color {
	color: #3c5d99;
}
#color_con_daily .border_color {
	color:#6599ff;
}

/******************************************** shared class ********************************************/

.verticalTop {
    vertical-align: top;
}
.spaceForFooter {
    margin-top: 130px;
}

/******************************************** animation ********************************************/
/* animation */
.navButton:hover, #loginLabel:hover, #contents .panel img:hover, #closeButton img:hover {
    opacity: 0.5;
}
/******************************************** responsible design ********************************************/
/* responsible design */
@media screen and (max-width: 768px){
    .navButton { 
        width: 23%;
        font-weight: bold;
        font-size: 17px;
    }
    #loginLabel{
        margin-top: 0;
        margin-right: 40px;
        font-size: 17px;
    }
    #searchHeader div {  }
    #searchPanel { height: 300px; }
    #searchConditionalTable {
        width: 250px;
        display: block;
        padding-top: 30px;
        padding-left: 100px;
    } 
    #searchConditionalTable tr { display: inline; }
    #searchConditionalTable td {
        display: inline-block;
        width: 70%;
    }
    #searchContent { width: 90% }
    #foodContent { width:90%; }
}   
