#conFooter {
    position: fixed;
    bottom: 0;
    margin: 0;
    left:0;
	right:0;
	
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    color: white;
    background-color: black;
}

#logopic { width:10%;
height:10%;}


#contact_form { padding-left:23%;
padding-right:23%}

#cMeat {border: 2px solid #e3493b;}

#cVege { border: 2px solid #00a368;}

#cDairy {
    border: 2px solid #6599ff;    
}

.img-responsive{ padding:5px;}
.col-xs-6 {padding:5px;}







