#container-xin{
	margin-top:80px;
}
.mobiletable{
	display:none;
}

.table-vege-color td{
	background-color:#ABE1C7;
}
.table-meat-color td{
	background-color:#ffe6e6;
}
.table-dairy-color td{
	background-color:#e0eaff;
}
.pc-title-vege td{
	background-color:#00a368;
}
.pc-title-meat td{
	background-color:#e3493b;
}
.pc-title-dairy td{
	background-color:#6599ff;
}
 a:visited {
	color:white;	
}
a:link {
	color:white;	
}
a:hover {
	color:white;	
}
a:active {
	color:white;	
}


#pctable img{
	width:100%
	
}
#pctable td:nth-of-type(2){
	width:30%
}
#pctable th{
	font-size:2.5em;
	
}
#pctable td{
	font-size:2.5em;
	color:white;
	vertical-align:middle;
}
@media screen and (max-width: 768px){
	#pctable{
		display:none;
	}
	.mobiletable{
		display:block;
	}	
	.titleword{
		color:white;
		font-size:1.5em;
	}
	#accordion .panel .titlevege{
		background-color:#00a368;
	}
	#accordion .panel .titlmeat{
		background-color:#e3493b;
	}
	#accordion .panel .titldairy{
		background-color:#6599ff;
	}
}
/*******************haruna css**************************/
#footerTable {
    margin: auto;
    padding-right: 15px;
    width: 50%;
}
@media screen and (max-width: 768px){

    #categoryButton {
        width:80px;
        height:40px;
        font-size:16px;
	    float:right;	
    }
	#footerTable{ 
		width: 90%; 
	}
}

#footerTable td{
    width: 30%;
}
    
#conFooter {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 15px;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    font-weight: 400;
    color: white;
    background-color: black;
}







